@font-face {
	font-family: Aller;
	src: url('../fonts/Aller/Aller_Rg.ttf');
}

.box_login{
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-khtml-border-radius:20px;
	border-radius: 20px;
	width: 300px;
	height:380px;
	display:block;
	background-color:#ECEAE0;
}


.box_signup{
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-khtml-border-radius:20px;
	border-radius: 20px;
	width: 300px;
	height:420px;
	display:block;
	background-color:#ECEAE0;
}
.center{
	position:absolute; 
	top:0; 
	bottom:0; 
	left:0; 
	right:0;
	margin:auto;	
}

.username_login{
	position:absolute;
	margin-left:13%;
	bottom:30%;
	
}
.username_signup{
	position:absolute;
	margin-left:13%;
	bottom:130px;
	
}

.password_login{
	position:absolute;
	margin-left:13%;
	bottom:20%;
}

.password_signup{
	position:absolute;
	margin-left:13%;
	bottom:95px;
}

.password_signup_check{
	position:absolute;
	margin-left:13%;
	bottom:60px;	
}

.login-button{
	position:absolute;
	bottom:0;
	right:0;
	margin-right:8%;
	margin-bottom:8%;

}

.button-signup{
	position:absolute;
	bottom:0;
	width:90px;
	margin-bottom:25px;	
}

.new-user-button{
	position:absolute;
	bottom:0;
	left:0;
	margin-left:8%;
	margin-bottom:8%;	
}


.center_horizontal{
	position:absolute;
	left:0;
	right:0;
	margin-left: auto;
	margin-right:auto;
}


#login_icon{
	top:10%;
}

.login_text{
	bottom:0;
	text-align:center;
	margin-bottom:175px;
	font-family:Aller;
	font-size:28pt;
	color:#bcbbb3 ;
	text-shadow: 0 1px 1px #fff;
}
.signup_text{
	bottom:0;
	text-align:center;
	margin-bottom:185px;
	font-family:Aller;
	font-size:28pt;
	color:#bcbbb3 ;
	text-shadow: 0 1px 1px #fff;
}

.overlap-fix{
	margin-top: 40px;
}

.activity{
	position:relative;
	background-color:#ECEAE0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius: 5px;
	padding:15px 10px;
  	font-family: Aller;
  	/* don't do this
    width:920px;
    */
  	

}
.about{
	position:relative;
	background-color:#ECEAE0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius: 5px;
	padding:15px 10px;
  	font-family: Aller;
  	width:920px;
  	height:400px;
}



.delete-button{
	position:absolute;
	right:0;
	bottom:0;
	top:0;
	margin-top: 8px;
	margin-bottom: auto;
	margin-right:8px;
	width:25px;
	height:25px;
}

.delete-button:hover{
	cursor: pointer;
}

.location{
	font-size:13px;
	color:#63AA9C;	
}
.name{
	font-size:13px;
	color:#63AA9C;	
}

.description{
  	color:#63AA9C;	
	font-size:13px;
}

.activity-name{
	color:#221E1D;
	font-size:16px;
}

 
.hr {
  border: none;
  background-color: #fff;
  color: #fff;
  height: 1px;
  margin: 15px 0;
}
.add-to-my-bucket{
	position:absolute;
	right:0;
	bottom:0;
	top:0;
	margin-top: auto;
	margin-bottom: 8px;
	margin-right:5px;
	width:50px;
	height:50px;
}

.add-to-my-bucket:hover{
	cursor: pointer;
}

.remove-from-my-bucket{
	position:absolute;
	right:0;
	bottom:0;
	top:0;
	margin-top: auto;
	margin-bottom: 8px;
	margin-right:5px;
	width:50px;
	height:50px;
}

.remove-from-my-bucket:hover{
	cursor: pointer;
}

.body-down{
	padding-top: 50px;
}

.searchInput{
	position:fixed;
	right: 20px;
	z-index: 1040;

}

#searchInput{
	margin-bottom: 0px;
}

.search{
	margin-top: 5px;
	position:absolute;
	width:960px;
	
	

}
.suggestions{
	position:absolute;
	z-index: 1044;
	width:220px;
	background-color: white;
	display:none;
}

.suggestion_list{
    list-style-type: none;
    
    margin: 0px;
}

.suggestion_list li{
	padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
}

.complete-activity{
	position:absolute;
	right:0;
	bottom:0;
	top:0;
	margin-top: auto;
	margin-bottom: 8px;
	margin-right:50px;
	width:50px;
	height:50px;
}

.complete-activity:hover{
	cursor: pointer;
}


.category-link {
    font-size: 24pt;
    color: #FFFFFF;
}

.category-link:hover {
    color: #999999;
}


/*.suggestionsinput {
font-size: 36px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #999;
color: #999;
}

#suggestions {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
width: 460px;
background-color: #999;
position: fixed;
padding: 5px;
visibility: hidden;
}
*/
