{% extends 'base.html' %}

{% block title %}About - {{ info['username'] }}{% end %}

{% block body %}
	<div id="about-body" class="container overlap-fix about">
		<h1>About Cucket</h1>
        <p>A lot of students go through school only experiencing academics and missing all the great things there are to do on campus. CU-Bucket is a "bucket list" where one can add, discover, and complete activites before graduation. When you have completed 100 activities you are ready to graduate!</p>
        <h1>What should you do?</h1>
        <p>On this site, you can create new activities, perform searches on activites, and create and complete activities on the go with our mobile app. So stop sitting there and cucket! Begin by clicking cucket on the top!</p>
        <h1>Meet the Team!</h1>
        <ul>
            <li>Greg Blaszczuk</li>
            <li>Mohd Irteza</li>
            <li>Suharsh Sivakumar</li>
            <li>Martin Wozniewicz</li>
        </ul>
	</div>
{% end %}

