<!DOCTYPE html>
<html>
    <head>
    <title>{% block title %}Default Title{% end %} </title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">cucket</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/user/">{{ info['username'] }}</a></li>
                            <li><a href="/home">Activities</a></li>
                            <li><a href="/top">Top</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/category/">Categories</a></li>
                            <li><a id ="logout-button" href="/logout">Log Out</a></li>
                            <li><a id="show-activity-form" href="#activity-modal" role="button" data-toggle="modal">Add activity</a></li>

                        </ul>
                        
                    </div><!--/.nav-collapse -->
                 </div>
            </div>
        </div>
        <div class="search center_horizontal">
            <div class="searchInput">
                <input type="text" id="searchInput" placeholder="Search..."/>
                <!--<div class="suggestions">
                <ul class="suggestion_list">
                    <li id="suggestion_1"><a href="#" id="suggestion_1_link" >Suggestion1</a></li>
                    <li id="suggestion_2"><a href="#" id="suggestion_2_link">Suggestion2</a></li>
                </ul>
                </div> -->
            </div>
            
        </div>
        

        <div class="body-down">
            {% block body %}
            Default Body
            {% end %}
        </div>
        <!-- Modal -->
        <div class="modal hide" id="activity-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Make a new activity</h3>
          </div>
          <div class="modal-body">
            <form id="new-activity">
                {% module xsrf_form_html() %}
                <input name="name" id="name" type="text" placeholder="Name"></input>
                <input name="description" id="description" type="text"  rows='3' placeholder="Description"></input>
                <input name="category" id="category" type="text" placeholder="Category (space-separated)"></input>
                <input name="location" id="location" type="text" placeholder="Location"></input>
                <button id="submit" type="button" class="btn btn-primary">Submit your activity</button>
            </form>
          </div>
        </div>
        
    </body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/base.js"></script>
    <script type="text/javascript" src="../static/js/search.js"></script>
    {% block scripts %}
    {% end %}
</html>
