{% extends 'base.html' %}

{% block body %}
	<div id="activity-board" class="container overlap-fix feed">
		{%	for activity in info['results'] %}
			<div class="activity" id= {{ activity['ID'] }} >
				<div class="activity-name">{{activity['name']}}</div>	
				<div class="description">{{ activity['description']}}</div>
				<div class="location">{{ activity['location']}}</div>	
				<div class="creator">by {{ activity['creator']}}</div>
				{% if info['username'] == activity['creator'] %}
				<img src="../static/img/close.png" class="delete-button" id="delete-button">
				{% end %}
				{% if activity['userName'] is None %}
				<img src="../static/img/bucketIcon2.png" class="add-to-my-bucket" id="add-to-my-bucket">
				{% end %}
			</div>
			<div class="hr"></div>
		{% end %}
	</div>
{% end %}

{% block scripts %}
	<script type="text/javascript" src="../static/js/home.js"></script>
{% end %}
