{% extends 'base.html' %}

{% block body %}
	<div class="container overlap-fix feed">
		{%	for activity in info['results'] %}
			<div class="activity">	
				<div class="description">{{ activity['description']}}</div>
				<div class="location">{{ activity['location']}}</div>	
				<div class="name">by {{ activity['name']}}</div>
				<a href='#'><img src="../static/img/bucketIcon2.png" class="add-to-my-bucket" id="add-to-my-bucket"></a>
			</div>
			<div class="hr"></div>
		{% end %}
	</div>
{% end %}
