{% extends 'base.html' %}

{% block title %}Cucket - {{ info['username'] }}{% end %}

{% block body %}
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div id="activity-board" >
                    {%	for activity in info['results'] %}
                        <div class="activity" id= {{ activity['ID'] }} >
                            <div style="overflow: hidden">
                                <div class="activity-name">{{activity['name']}}</div>	
                                <div class="description">{{ activity['description']}}</div>
                                <div class="location">{{ activity['location']}}</div>	
                                <div class="creator">by {{ activity['creator']}}</div>
                            </div>
                            {% if info['username'] == activity['creator'] %}
                            <img src="../static/img/close.png" class="delete-button" id="delete-button">
                            {% end %}
                            {% if activity['interestUserName'] is None %}
                            <img src="../static/img/bucketIcon3.png" class="add-to-my-bucket" id="add-to-my-bucket">
                            {% end %}
                            {% if activity['interestUserName'] is not None %}
                            <img src="../static/img/bucketIcon2.png" class="remove-from-my-bucket" id="remove-from-my-bucket">
                            {% end %}
                            {% if activity['completedUserName'] is None %}
                            <img src="../static/img/complete.png" class="complete-activity" id="complete-activity">
                            {% end %}
                        </div>
                        <div class="hr"></div>
                    {% end %}
                </div>
            </div>
        </div>
    </div>
{% end %}

{% block scripts %}
{% end %}
