<!DOCTYPE html>
<html>
	<head>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="../static/js/login.js" ></script>
	<link href="../static/css/bootstrap.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">
    <title>Cucket - Login</title>
	</head>
	<body id="body">
		<div class="navbar navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">cucket</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="javascript:replaceAbout();">About</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                 </div>
            </div>
        </div>
		<div class="container">
			<div class="box_login center">
				<img id ="login_icon" class="center_horizontal"src="../static/img/bucketIcon2.png"/>
				<div class="login_text center_horizontal">CUCKET</div>
				<form>
					{% module xsrf_form_html() %}
					<input id="username" class="username_login" type="text" placeholder="Username"/>
					<input id="password" class="password_login" type="password" placeholder="Password"/>
					<button id="login-button" type="button" class="btn btn-primary login-button">Login</button>
					<button id="new-user-button" type="button" class="btn btn-info new-user-button">New User</button>
				</form>
			</div>
		</div>
	</body>
</html>
