<!DOCTYPE html>
<html>
	<head>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="../static/js/login.js" ></script>
	<link href="../static/css/bootstrap.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="box_login center">
				<img id ="login_icon" class="center_horizontal"src="../static/img/bucketIcon2.png"/>
				<div class="text_shadow center_horizontal">CUCKET</div>
				<form>
					
					<input id="username" type="text" placeholder="Username"/>
					<input id="password" type="password" placeholder="Password"/>
					<button id="signup-button" type="button" class="btn btn-primary">Sign Up!</button>
				</form>
			</div>		
		</div>
	</body>
</html>