{% extends 'base.html' %}

{% block title %}{{ info['username'] }}{% end %}

{% block body %}
    <div class="overlap-fix container">
        <h1>Welcome To Your Dashboard!</h1>
        <h2>Your:</h2>
        <div class="row user-link">
            <div class="span12"><a href="#your-bucket">Bucket</a>
            <a href="#recommended">Recommendations</a>
            <a href="#created">Creations</a>
            <a href="#completed">Completions</a></div>
        </div>
    </div>

    <div class="overlap-fix container">
        <div class="row">
            <div class="span12">
                <h1>Your Progress</h1>
                <div class="progress">
                    <div id="complete-bar" title="Completed activities" class="bar bar-success tip" style={{"width:"+str(info['completed_count'])+"%;"}}></div>
                    <div id="incomplete-bar" title="Unfinished activities" class="bar bar-danger tip" style={{"width:"+str(info['bucket_count'])+"%;"}}></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <h1 class="tip" title="Complete these for points!" id="your-bucket">Your Bucket</h1>
                {%  for activity in info['bucket'] %}
                    <div class="activity" id= {{ activity['ID'] }} >
                        <div style="overflow: scroll">
                                <div class="activity-name">{{activity['name']}}</div>   
                                <div class="description">{{ activity['description']}}</div>
                                <div class="location">{{ activity['location']}}</div>   
                                <div class="creator">by {{ activity['creator']}}</div>
                            </div>
                        {% if info['username'] == activity['creator'] %}
                        <img src="../static/img/close.png" class="delete-button" id="delete-button">
                        {% end %}
                        <img src="../static/img/bucketIcon2.png" class="remove-from-my-bucket" id="remove-from-my-bucket">
                        <img src="../static/img/complete.png" class="complete-activity" id="complete-activity">
                    </div>
                    <div class="hr"></div>
                {% end %}
            </div>
            <div class="span6">
                <h1 class="tip" title="Try these other activities!" id="recommended">Recommended</h1>
                {% for activity in info['recommendations'] %}
                    <div class="activity" id= {{ activity['ID'] }} >
                        <div style="overflow: scroll">
                                <div class="activity-name">{{activity['name']}}</div>   
                                <div class="description">{{ activity['description']}}</div>
                                <div class="location">{{ activity['location']}}</div>   
                                <div class="creator">by {{ activity['creator']}}</div>
                            </div>
                        {% if info['username'] == activity['creator'] %}
                        <img src="../static/img/close.png" class="delete-button" id="delete-button">
                        {% end %}
                        <img src="../static/img/bucketIcon3.png" class="add-to-my-bucket" id="add-to-my-bucket">
                        <img src="../static/img/complete.png" class="complete-activity" id="complete-activity">
                    </div>
                    <div class="hr"></div>
                {% end %}
            </div>
        </div> <!-- /row -->
        <div class="row">

            <div class="span6">
                <h1>Created By You</h1>
                <div id="created">
                    {%  for activity in info['created'] %}
                        <div class="activity" id= {{ activity['ID'] }} >
                            <div style="overflow: scroll">
                                <div class="activity-name">{{activity['name']}}</div>   
                                <div class="description">{{ activity['description']}}</div>
                                <div class="location">{{ activity['location']}}</div>   
                                <div class="creator">by {{ activity['creator']}}</div>
                            </div>
                            {% if info['username'] == activity['creator'] %}
                            <img src="../static/img/close.png" class="delete-button" id="delete-button">
                            {% end %}
                            {% if activity['interestUserName'] is None %}
                            <img src="../static/img/bucketIcon3.png" class="add-to-my-bucket" id="add-to-my-bucket">
                            {% end %}
                            {% if activity['interestUserName'] is not None %}
                            <img src="../static/img/bucketIcon2.png" class="remove-from-my-bucket" id="remove-from-my-bucket">
                            {% end %}
                            {% if activity['completedUserName'] is None %}
                            <img src="../static/img/complete.png" class="complete-activity" id="complete-activity">
                            {% end %}
                        </div>
                        <div class="hr"></div>
                    {% end %}
                </div>
            </div>
            <div class="span6">
                <h1 class="tip" title="Your completed activities!" id="completed">Completed</h1>
                {% for activity in info['completed'] %}
                    <div class="activity" id= {{ activity['ID'] }} >
                        <div style="overflow: scroll">
                                <div class="activity-name">{{activity['name']}}</div>   
                                <div class="description">{{ activity['description']}}</div>
                                <div class="location">{{ activity['location']}}</div>   
                                <div class="creator">by {{ activity['creator']}}</div>
                            </div>
                    </div>
                    <div class="hr"></div>
                {% end %}
            </div>
        </div>
    </div> <!-- /container -->
{% end %}


{% block scripts %}
    <script type="text/javascript" src="../static/js/user.js"></script>
{% end %}

